/* File: /frontend/src/components/PageHeader.module.css */

.pageHeader {
  padding: 1rem 0;
  margin-bottom: 2rem;
  text-align: center;
}

.pageHeader h2 {
  font-size: 2.5em;
  color: var(--text-primary);
  margin-bottom: 0.5rem;
}

.pageHeader p {
  font-size: 1.1em;
  color: var(--text-secondary);
  max-width: 650px;
  margin: 0 auto;
}